*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 64px;
}
#notification{
    position: relative;
}
#bellicon{
    font-size: 4rem;
}
#count{
    position: absolute;
    top: 0;
    right:0;
    background-color:red;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;

}
#likebutton{
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    color: white;
    background-color:rgb(0, 0, 153);
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
}
#likebutton:hover{
    background-color: rgb(0, 0, 255);
    cursor: pointer;
}